body {
    direction: rtl;
    text-align: right;
}

.baner_text_color {
    color: white;
}

.baner_text_color:hover {
    color: red;
}

.baner_text_color:active {
    color: red;
}

.post-meta {
    text-align: left;
}